/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* comon style ba utitity */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #d5d4db;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-top {
    margin-left: 15px;
    color: #562EFF;
}

.container {
    background-color: #ffffff;
    width: 870px;
    height: 679;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}


.top-players {
    margin-bottom: 30px;
}



/* top-players styles */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.players {
    margin-left: 20px;
}

/* player */
.player {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* player img */
.player img {
    width: 56px;
    height: 56px;
}

.name {
    font-size: 16px;
    width: 100%;
}

hr {
    border: 2px solid indianred;

}

/* --------------blog section -------------- */
.top-blogs {
    margin-top: 30px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}



.blog {
    display: flex;
}

/*------------- blog images--------  */
.thumbail img {
    width: 177px;
    height: 117px;
}

/*----------- h3 blog name----------  */
.blog-info {
    margin: 16px;
}

.blog-name {
    font-size: 20px;
    width: 100%;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    font-size: 16px;
    text-decoration: none;
    color: #562EFF;
}

/* ------------last sevtion ---------------
--------------------------------------------- */
.course-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}

.courses {
    width: 252px;
    height: 269px;
    box-shadow: #b98787;
    padding: 0 10px;
    background-color: #e6dbdb;
    border-radius: 5px;

}

.courses-banner img {
    width: 224px;
    height: 104px;
}

.course-title {
    font-size: 20px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star.field {
    color: #FFC014;
    font-size: 12px;
}

.fa-star.empty {
    color: #1a1819;
    font-size: 12px;
}

.rating {
    font-size: 12px;
    color: #9F9F9F;
}

.fa-regular.fa-clock {
    font-size: 16px;
}

.timer {
    font-size: 14px;
}

.clock {
    color: #FF4A60;
}

.course-duration {
    background-color: #FF4A60;
    padding: 0 5px;
    border-radius: 10px;
}

/* ------------------------------!
-----------midea query -----------*/
/* ----------------------------- */
/* mobail screen  */
/* -----------------------------          */

@media only screen and (max-width: 667px) {
    .container {

        width: 100%;
    }

    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .player {
        flex-direction: column;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blog {
        flex-direction: column;

    }

    .course-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .courses {
        width: 100%;
        padding: 0 10px;
        margin-top: 10px;
    }
}

/* -----------------
     tab screen
------------------  */
@media screen and (min-width: 668px) and (max-width: 992px) {
    .container {

        width: 100%;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .blog {
        flex-direction: column;

    }

    .course-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;


    }

    .courses img {
        width: 90%;


    }


}